<div class="jumbotron">
    <h1 class="display-3">Witaj na platformie B2B</h1>

    <p class="lead">Setki dostawców i producentów w jednym miejscu. Kupuj, sprzedawaj już dziś!</p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" role="button">Zarejestruj sie teraz!</a>
    </p>
</div>



<div class="card-deck" style="margin-bottom:20px">
    <div class="card">
        <img class="card-img-top" src="../../../img/device.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Wieloplatformowość</h4>
            <p class="card-text">Kosztystaj ze swojego sklepu w każdym mijescu i z każdego urządzenial</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../img/easy.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Prostota w dostępie do informacji</h4>
            <p class="card-text">Maksymalne uproszczenie procedur w celu szybkiego finalizowania transakcji.</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../img/magazyn.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Wiele produktów w jednym miejscu</h4>
            <p class="card-text">Jedna platforma, która pełni rolę pośrednika pomiędzy kupującymi, pośrednikami i producentami. Teraz w jednym miejscu!</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card card-block">
            <h3 class="card-title">Prosta rejestracja</h3>
            <p class="card-text">Tylko kilka prostych kroków, aby korzystać z platformy wymiany produktów</p>
            <a href="#" class="btn btn-primary">Rejestruj</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-block">
            <h3 class="card-title">Szybki dostęp</h3>
            <p class="card-text">Zaloguj się i dowiedż się o najnowszych ofertach i produktach</p>
            <a href="#" class="btn btn-primary">Zaloguj</a>
        </div>
    </div>
</div>

<div class="card-deck" style="margin-bottom:20px">
    <div class="card">
        <img class="card-img-top" src="../../../img/jedynka.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Wieloplatformowość</h4>
            <p class="card-text">Kosztystaj ze swojego sklepu w każdym mijescu i z każdego urządzenial</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../img/easy.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Prostota w dostępie do informacji</h4>
            <p class="card-text">Maksymalne uproszczenie procedur w celu szybkiego finalizowania transakcji.</p>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../img/magazyn.jpg" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Wiele produktów w jednym miejscu</h4>
            <p class="card-text">Jedna platforma, która pełni rolę pośrednika pomiędzy kupującymi, pośrednikami i producentami. Teraz w jednym miejscu!</p>

        </div>
    </div>


</div>
