<div class="row">
   
    <div class="col col-md-2">
        
        <ul class="nav flex-column">
             <li class="nav-item">
                <a class="nav-link active"routerLink="./" routerLinkActive="active">Moje produkty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"routerLink="./add" routerLinkActive="active">Dodaj produkt</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" routerLink="./bought" routerLinkActive="active">Lista zakupów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./sold" routerLinkActive="active">Lista sprzedaży</a>
            </li>
           
        </ul>


    </div>
    <!-- Columns start at 10/12% wide on mobile and bump up to 10/12% wide on desktop -->
    <div class="col-10 col-md-10">
        <router-outlet></router-outlet>
    </div>

</div>